<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form action="/categories" method="POST">
        <div>
            <label>Category Family Name:</label><br>
            <input type="text" name="name" placeholder="e.g., Woodwinds" required />
        </div>
        <br>
        <div>
            <label>Description:</label><br>
            <textarea name="description"></textarea>
        </div>
        <br>
        <button type="submit">Save Category</button>
    </form>
    <br>
    <a href="/categories">Cancel</a>
</body>

</html>